.is-relative{
    position: relative;
}

.is-absolute{
    position: absolute;
}

.is-flex-btn-add{
    display: flex;
    align-items: center;
    justify-content: center;
}

.is-flex-btn-dell{
    display: flex;
    align-items: center;
    justify-content: center;
}

.is-flex{
    display: flex;
    align-items: center;
}

.is-block{
    display: block;
}

.is-inline-block{
    display: inline-block;
}

.is-none{
    display: none;
}

.is-left{
    float: left;
}

.is-rigth{
    float: right;
}

.is-center{
    margin: 10px auto;
}

.is-upper{
    text-transform: uppercase;
    
}

.is-visible_hidden{
    visibility: hidden;
    
}


