*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}

body{
    background-image: url(/WebApplicationsChallenges/Challenge-001/images/au1D4I.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

.box-calculator{
    width: 50%;
    max-width: 350px;
    padding: 20px 10px;
    text-align: center;
    background: linear-gradient(black, rgb(3, 58, 83));
    margin: 0 auto;
    border: 10px solid rgba(3, 3, 3, 0.349);
    background-clip: padding-box;
   
}

.box-calculator h1{
    margin-bottom: 30px;
    color: white;
}

.box-calculator input[type='number']{
    width: 95%;
    line-height: 35px;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 3px double rgb(88, 88, 88);
    color: rgb(19, 82, 119);;
    transition: 0.5s;
    outline: none;
    background: linear-gradient(grey, white, grey);
}

.box-calculator select{
    width: 95%;
    padding: 8px 0;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 3px double rgb(88, 88, 88);
    color: rgb(19, 82, 119);;
    transition: 0.5s;
    outline: none;
    background: linear-gradient(grey, white, grey);   
}



.box-calculator input:hover {
    box-shadow: 2px 2px 10px grey;
}

.box-calculator input[type='number']:focus{
    width: 100%;
}

.box-calculator input::placeholder{
    color: rgb(19, 82, 119);
    
}

.box-calculator > input[type ='button']{
    padding: 10px;
    background: grey;
    margin-left: 20px;
    outline: none;
}
.container{
    display: flex;
    max-width: 700px;
    margin: 100px auto;
    border-radius: 5px;
    transition: 2s;
    box-shadow: 5px 5px 20px black;
    
}

.result {
    width: 50%;
    background: linear-gradient(black, rgb(3, 58, 83));
    padding: 20px 10px;
    text-align: center;   
    /*display: none;*/
    border: 10px solid rgba(3, 3, 3, 0.349);
    border-left: 5px ; 
    border-collapse: unset;
    background-clip: padding-box;
}

.result h1{
    margin-bottom: 15px;
    color: white; 
   
}

.result p{
    color: white;
    margin-bottom: 5px;
}

.box-span{
    width: 90%;
    margin: 0 auto;
    background: linear-gradient(grey, white, grey);
    line-height: 20px;
    border: 3px double rgb(88, 88, 88);
    border-radius: 10px;
    color: rgb(19, 82, 119);
    margin-bottom: 10px;
}


div.teams{
    margin: 0 auto;
    text-align: center;
}

.teams input:nth-of-type(1){
    background: linear-gradient(black, rgb(3, 58, 83));
    color: white;
    padding: 10px 20px;
}

.teams input:nth-of-type(2){
    background: linear-gradient(white, rgb(3, 58, 83));
    color: white;
    padding: 10px 20px;
    color: black;
}

