*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: lighter;
}
html,body{
    height: 100%;
}

body{
    background-image: url(/Challenge-001/images/au1D4I.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: 1s;
    
}

.container{
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 0 2%;
    
}

.box-calculator{
    width: 50%;
    max-width: 350px;
    padding: 20px 10px;
    background: linear-gradient(black, rgb(5, 42, 59));
    margin: 0 auto;
    border: 10px solid rgba(3, 3, 3, 0.349);
    background-clip: padding-box;
    transition: 1s;
    animation: anime_calculator 3s infinite;
    text-align: center;
}

.box-calculator h1{
    margin-bottom: 30px;
    color: rgb(179, 179, 179);
    text-align: center;
}

.box-calculator p{
    color: rgb(88, 88, 88);
    margin-bottom: 10px;
    
}

.box-calculator input[type='number']{
    width: 95%;
    line-height: 35px;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 3px double rgb(88, 88, 88);
    color: rgb(88, 88, 88);
    transition: 0.5s;
    outline: none;
    background: transparent;
    
}

.box-calculator select{
    width: 95%;
    padding: 8px 0;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 0;
    border: 3px double rgb(88, 88, 88);
    color: rgb(88, 88, 88);
    transition: 0.5s;
    outline: none;
    background: transparent;
     
}



.box-calculator input[type= 'number']:hover{
    border: 3px double rgb(180, 180, 180);
}

.box-calculator select:hover {
    border: 3px double rgb(180, 180, 180);
}

.box-calculator input[type='number']:focus{
    width: 100%;
}

.box-calculator select:focus{
    width: 100%;
}


.box-calculator > input[type ='button']{
    padding: 10px;
    background: transparent;
    margin-left: 20px;
    outline: none;
    transition: 0.5s;
    color: rgb(160, 160, 160);
    border: 0;
    border: 1px double rgb(160, 160, 160) ;
    cursor: pointer;
    border-radius: 10px;
    
}

.box-calculator > input[type ='button']:hover{
    
    border: 1px double rgb(255, 255, 255) ;
}


.result {
    width: 50%;
    background: linear-gradient(black, rgb(5, 42, 59));
    padding: 20px 10px;
    text-align: center;   
    display: none;
    border: 10px solid rgba(3, 3, 3, 0.349);
    border-left: 5px ; 
    border-collapse: unset;
    background-clip: padding-box;
    transition: 1s;
    animation: anime_result 3s infinite;
    
}

@keyframes anime_result{
    50%{
        border: 10px solid rgba(3, 3, 3, 0.596);
        border-left: 5px ;  
    }
}

@keyframes anime_calculator{
    50%{
        border: 10px solid rgba(3, 3, 3, 0.596);
        
    }
}


.result h1{
    margin-bottom: 30px;
    color: rgb(179, 179, 179);
    
   
}

.result p{
    color: rgb(182, 181, 181);
    margin-bottom: 5px;
    
}

.result > input{
    padding: 10px;
    outline: none;
    transition: 0.5s;
    background: transparent;
    color: rgb(160, 160, 160);
    border: 0;
    border: 1px double rgb(160, 160, 160) ;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
}

.result > input:hover{
    border: 1px double rgb(255, 255, 255) ;
}

.box-span{
    width: 60%;
    margin: 0 auto;
    background: transparent;
    line-height: 20px;
    border: 3px double rgb(88, 88, 88);
    border-radius: 10px;
    color: rgb(88, 88, 88);
    margin-bottom: 20px;
    transition: 0.7s;
    
}

.box-span:hover{
    width: 90%;
    color: white;
}

.box-span span{
    transition: 1s;
    font-weight: bold;
}


@media screen and (max-width: 672px){
    .container{
        display: flex;
        flex-direction: column;
        max-width: none;
        margin: 20px auto;
        padding: 0 2%;
    }
    .result{
       margin: 0 auto;
       max-width: none;
       width: 100%;

    }
    .box-calculator{
        max-width: none;
        width: 100%;
    }
}

