*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}

body{
    background-image: url(/Challenge-001/images/au1D4I.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: 1s;
    
}

.container{
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 0 2%;
    
}

.box-calculator{
    width: 50%;
    max-width: 350px;
    padding: 20px 10px;
    text-align: center;
    background: linear-gradient(black, rgb(3, 58, 83));
    margin: 0 auto;
    border: 10px solid rgba(3, 3, 3, 0.349);
    background-clip: padding-box;
    transition: 1s;
    animation: anime_calculator 3s infinite;
}

.box-calculator h1{
    margin-bottom: 30px;
    color: white;
}

.box-calculator input[type='number']{
    width: 95%;
    line-height: 35px;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 3px double rgb(88, 88, 88);
    color: rgb(19, 82, 119);;
    transition: 0.5s;
    outline: none;
    background: linear-gradient(rgb(114, 113, 113),white,grey);
    
}

.box-calculator select{
    width: 95%;
    padding: 8px 0;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 3px double rgb(88, 88, 88);
    color: rgb(19, 82, 119);;
    transition: 0.5s;
    outline: none;
    background: linear-gradient(grey, white, grey); 
     
}



.box-calculator input:hover {
    background: linear-gradient(rgb(92, 92, 92),rgb(224, 224, 224),rgb(104, 104, 104));
}

.box-calculator select:hover {
    background: linear-gradient(rgb(92, 92, 92),rgb(224, 224, 224),rgb(104, 104, 104));
}

.box-calculator input[type='number']:focus{
    width: 100%;
}

.box-calculator select:focus{
    width: 100%;
}

.box-calculator input::placeholder{
    color: rgb(19, 82, 119);
    
}

.box-calculator > input[type ='button']{
    padding: 10px;
    background: linear-gradient(rgb(77, 76, 76),grey,rgb(201, 200, 200),rgb(77, 76, 76));
    margin-left: 20px;
    outline: none;
    transition: 0.5s;
    color: rgb(3, 58, 83);
    cursor: pointer;
    
}

.box-calculator > input[type ='button']:hover{
    background: linear-gradient(rgb(59, 59, 59),rgb(109, 109, 109),rgb(184, 183, 183),rgb(49, 49, 49));
}


.result {
    width: 50%;
    background: linear-gradient(black, rgb(3, 58, 83));
    padding: 20px 10px;
    text-align: center;   
    display: none;
    border: 10px solid rgba(3, 3, 3, 0.349);
    border-left: 5px ; 
    border-collapse: unset;
    background-clip: padding-box;
    transition: 1s;
    animation: anime_result 3s infinite;
    
}

@keyframes anime_result{
    50%{
        border: 10px solid rgba(3, 3, 3, 0.596);
        border-left: 5px ;  
    }
}

@keyframes anime_calculator{
    50%{
        border: 10px solid rgba(3, 3, 3, 0.596);
        
    }
}


.result h1{
    margin-bottom: 15px;
    color: white; 
    
   
}

.result p{
    color: white;
    margin-bottom: 5px;
    
}

.result > input{
    padding: 10px;
    background: linear-gradient(rgb(77, 76, 76),grey,rgb(201, 200, 200),rgb(77, 76, 76));
    outline: none;
    transition: 0.5s;
    color: rgb(3, 58, 83);
    cursor: pointer;
    margin-top: 10px;
}

.result > input:hover{
    background: linear-gradient(rgb(59, 59, 59),rgb(109, 109, 109),rgb(184, 183, 183),rgb(49, 49, 49));
}

.box-span{
    width: 60%;
    margin: 0 auto;
    background: linear-gradient(grey, white, grey);
    line-height: 20px;
    border: 3px double rgb(88, 88, 88);
    border-radius: 10px;
    color: rgb(19, 82, 119);
    margin-bottom: 10px;
    transition: 2s;
    
}

.box-span:hover{
    width: 90%;
}

.box-span span{
    transition: 1s;
}


div.teams{
    margin: 0 auto;
    text-align: center;
    
}

.teams input:nth-of-type(1){
    background: linear-gradient(black, rgb(3, 58, 83));
    color: white;
    padding: 10px 20px;
    outline-color: rgb(24, 91, 122);
    cursor: pointer;
}
.teams input:nth-of-type(1):hover{
    background: linear-gradient(black, rgb(3, 39, 56));
}

.teams input:nth-of-type(2){
    background: linear-gradient(white, rgb(3, 58, 83));
    color: white;
    padding: 10px 20px;
    color: black;
    outline-color: rgb(24, 91, 122);
    cursor: pointer;
}

.teams input:nth-of-type(2):hover{
    background: linear-gradient(rgb(201, 200, 200), rgb(3, 58, 83));
}


@media screen and (max-width: 672px){
    .container{
        display: flex;
        flex-direction: column;
        max-width: none;
        margin: 20px auto;
        padding: 0 2%;
    }
    .result{
       margin: 0 auto;
       max-width: none;
       width: 100%;

    }
    .box-calculator{
        max-width: none;
        width: 100%;
    }
}

