:root{
    --black-color: black;
    --white-color1: white;
    --white-color2: #F4F4F4;
    --grey-color1: grey;
    --grey-color2: rgb(82, 82, 82);
    --grey-color3: rgb(41, 41, 41);
    --green-color1: #2ECC71;
    --green-color2: #0b5a35;
    --green-color3: rgb(19, 44, 35);
}