:root{
    --black-color: black;
    --white-color1: white;
    --white-color2: #F4F4F4;
    --grey-color1: grey;
    --grey-color2: rgb(82, 82, 82);
    --grey-color3: rgb(41, 41, 41);
    --grey-color4: rgb(48, 48, 48);
    --grey-color5: rgb(68, 68, 68);
    --green-color1: #ffffff;
    --green-color2: #0b5a35;
    --green-color3: rgb(0, 221, 140);
    --red-color: #E74C3C;
}
