<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/Challenge-001/public/styles/smacss/bases/resete.css">
    <link rel="stylesheet" href="/Challenge-001/public/styles/smacss/bases/variables.css">
    <link rel="stylesheet" href="/Challenge-001/public/styles/smacss/layouts/text.css">
    <link rel="stylesheet" href="/Challenge-001/public/styles/smacss/modules/modules.css">
    <link rel="stylesheet" href="/Challenge-001/public/styles/smacss/states/is.css">
    <link rel="stylesheet" href="/Challenge-001/public/styles/smacss/theme/theme.css">

</head>
<body id="body_id">
    

    <section class="container is-flex" id ="container">
        <div class="box-calculator box-black-green l-centerText one" id="box-calculator-id" > 
            <h1 id="title-calc" class="l-h1"> Calculadora de IRRF</h1>
            <p class="l-p">Salário bruto</p>
            <input type="number" class="data-input input-gray-transparent" id="gross-salary">
            <div id='erro_sal_br'></div>
            
            <p class="l-p">Dependentes</p>
            <select title="Dependentes" class=" data-input input-gray-transparent" id="dependents" >
                <option id ='selection' value="" selected disabled > </option>
                <option value="0">00</option>
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
                <option value="5">05</option>
                <option value="6">06</option>
                <option value="7">07</option>
                <option value="8">08</option>
                <option value="9">09</option>
                <option value="10">10</option>
            </select>
            <p class="l-p">Outras deduções</p>
            <input type="number" class="data-input input-gray-transparent" id ="deductions">
            <div id='erro-deduct'></div>
            <input type="button" class="input-button button-gray-transparent hover-red" value="Limpar" onclick="clica_limpar()">
            <input type="button" class="input-button button-gray-transparent" value="Calcular IRRF" id ='btn-calcular' onclick="clica_calcula()">
        </div><!--box-calculator-->
    
        <div class="box-calculator box-black-green is-non l-centerText two" id='result-id' onmouseout="entrar()">
            <h1 id="title-result" class="l-h1">Memória de cálculo</h1>
            <div class="box-result">
                <p class="l-p" id="box-span-id1">Salário Base</p>              
                <div class="box-span input-gray-transparent">
                    <span class="l-bold"  id="base-salary">R$ 0.00</span>
                </div>
                
                <p class="l-p" id="box-span-id2">Cálculo de INSS</p>   
                <div class="box-span input-gray-transparent">
                    <span class="l-bold"  id="res_inss">R$ 0.00</span>
                </div>
                
                <p class="l-p" id="box-span-id3">Dependentes</p>
                <div class="box-span input-gray-transparent">
                    <span class="l-bold"  id="res_dependents">R$ 0.00</span>
                </div>
                
                <p class="l-p" id="box-span-id4">Outras deduções</p>
                <div class="box-span input-gray-transparent">
                    <span class="l-bold"  id="res_deduction">R$ 0.00</span>
                </div>
                
                <p class="l-p" id="box-span-id5" >Base para Cálculo</p>
                <div class="box-span input-gray-transparent">
                    <span class="l-bold"  id="res_base-calc">R$ 0.00</span>
                </div>
                
                <p class="l-p" id="box-span-id6">Imposto devido</p>
                <div  class="box-span input-gray-transparent">
                    <span class="l-bold"  id="base-tax">R$ 0.00</span>
                </div>
            
            </div><!--box-calculator-->
            <input type="button" class="input-button button-gray-transparent" value="Calcular novamente" onclick="clicar_calc_novamente()">
        </div> <!--result-->
    </section>
    <script src="/Challenge-001/public/scripts/script.js"></script>

</body>
</html>