.content{
    max-width: 500px;
    padding: 0 5%;
    min-height: 350px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 30px;
    transition: 0.9s;
    
    
}

.box{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    transition: 1s;
    
}

.box ul li{
    transition: 1s;
}

.one{
    z-index: 3;
    top: 0;
    left: 0;
}

.two{
    z-index: 1;
    top: 0;
    left: 0;
}

.tree{
    z-index: 2;
    top: 0;
    left: 0;
}

.inputTask{
    width: 80%;
    line-height: 30px;
    height: 30px;
    padding-left: 8px;
    margin: 10px 5px 10px 0;
    transition: 0.5s;
    
}


.input-time{
    width: 20%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 0;
    transition: 0.5s;
    
}

form{
    margin: 30px 0;
}

.btn{
    width: 125px;
    line-height: 30px;
    cursor: pointer;
    border: 0;
    margin: 30px 3px;
    font-size: 13px;
    transition: 0.7s;
}

.icon{
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.box-task{
    border-bottom: 1px solid rgb(131, 131, 131);
    width: 100%;
    transition: 0.7s;
}

.content-task{
    overflow: auto;
    width: 90%;
    margin-right: 10px;
    color: rgb(255, 255, 255);
    padding: 10px 5px;
}

.box-task:hover{
    background-color: grey; 
}

.bnt-remove{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.box_time{
    width: 15%;
    color: white;
    height: 100%;
    padding: 8px 0 8px 10px;
}

.to-do-list-box{
    height: 87%;
    overflow: auto;
}

.lyst-search{
    transition: 1s;
}



