@media screen and (max-width: 500px){
    html,body{
        background: rgb(148, 148, 148);
    }
}


@media screen and (max-width: 400px){
    .is-flex-btn-add{
        flex-direction: column;
        margin-top: 5px;
    }

    .btn-box-one{
        margin: 5px 0;
        font-size: 13px;
        transition: 0.7s;
    }

    .input-time{
        width: 29%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border: 0;
        transition: 0.5s;
        
        
    }

}

@media screen and (max-width: 300px){
    .box_time{
        width: 20%;
    }
}

