.is-relative{
    position: relative;
}

.is-absolute{
    position: absolute;
}

.is-flex-btn-add{
    display: flex;
    align-items: center;
    justify-content: center;
}

.is-flex{
    display: flex;
    align-items: center;
}

.is-none{
    display: none;
}

.is-left{
    float: left;
}

.is-rigth{
    float: right;
}

